body {
    background:
            linear-gradient(-90deg, rgba(0,0,0,.05) 1px, transparent 1px),
            linear-gradient(rgba(0,0,0,.05) 1px, transparent 1px),
            linear-gradient(-90deg, rgba(0, 0, 0, .04) 1px, transparent 1px),
            linear-gradient(rgba(0,0,0,.04) 1px, transparent 1px),
            linear-gradient(transparent 3px, #f2f2f2 3px, #f2f2f2 78px, transparent 78px),
            linear-gradient(-90deg, #aaa 1px, transparent 1px),
            linear-gradient(-90deg, transparent 3px, #f2f2f2 3px, #f2f2f2 78px, transparent 78px),
            linear-gradient(#aaa 1px, transparent 1px),
            #f2f2f2;
    background-size:
            4px 4px,
            4px 4px,
            80px 80px,
            80px 80px,
            80px 80px,
            80px 80px,
            80px 80px,
            80px 80px;
}
.Title {
    font-family: "Merriweather Black", serif;
    color: rgba(118, 2, 234, 0.98);
    font-size: 10em;
}
.subtitle {
    font-family: "Merriweather Black", serif;
    color: rgb(223, 72, 246);
    font-size: 2em;
    margin-left: 200%;
}
.welcome {
    font-family: "Merriweather Black", serif;
    color: rgb(223, 72, 246);
    font-size: 1em;
    margin-top: 100%;
    margin-left: 1%;
}
.ui-widget-content {
    margin-top: 25%;
    margin-left: 10%;
}