* { padding: 0; margin: 0; }

body, html {
    height: 100%;
}

.content{
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 100%;
}
.left-side{
    width: 50%;
    height: 100%;
}

.left-side-noImg{
    margin: 5%;
    width: 90%;
    font-size: 3vw;
    height: 100%;

}
.regImage{
    padding-top: 15%;
    justify-content: center;
    width: 100%;
    height: 85%;
}
.right-side{
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 100%;
}
.right-side-img{
    background: red;
    width: 100%;
    height: 90%;
}

.regform{
    line-height: 2.5vw;
}
.formtitle{
    color: red;
    font-size: 6vw;
    padding-top: 2.5%;
    padding-bottom: 5%;
}
input{
    font-size: 2vw;
}

.reset_button{
    color: white;
    background: red;
}

.submit_button{

    color: white;
    background: green;
}

button{
    width: 30%;
    height: 25%;
    font-size: 2vw;
}

@media only screen and (max-width: 480px){
    .content{
        flex-direction: column;
    }
    .left-side{
        width: 100%;
        height: 66%;
    }

    .left-side-noImg{
        margin: 5%;
        width: 90%;
        font-size: 6vw;
        height: 90%;

    }
    .regImage{
        padding-top: 0;
        justify-content: center;
        width: 100%;
    }
    .right-side{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 66%;
    }
    .right-side-img{
        width: 100%;
        height: 50%;
    }
    .formtitle{
        font-size: 10vw;
    }
    .regform{
        line-height: 6vw;

    }

    button{
        width: 40%;
        height: 40%;
        font-size: 6vw;
    }

    input{
        font-size: 4vw;
    }
}